<%- include('partials/header') %>

<h1 class="text-center mt-2">Developers</h1>
<hr>

    <div class="card-columns w-75 m-auto mb-7">
    
        <% for(let i = 0; i < developers.length; i++) { %>
            <% if (developers[i].hired) { %>
                <div class="card m-4 border-secondary">
            <% } else { %>
                <div class="card m-4 border-primary">
            <% } %>
                    <% if (developers[i].image) { %>
                        <img class="card-img-top" src="<%- developers[i].image %>" alt="Developer image">
                    <% } else { %>
                        <img class="card-img-top" src="images/NoImageAvailable.jpg" alt="No developer image available">
                    <% } %>
                    <div class="card-body">
                    <h5 class="card-title"> <%= developers[i].name %> </h5>
                    <p class="card-text"><b>E-Mail:</b> <%= developers[i].email %> <br /> <b>Phone:</b> <%= developers[i].phone %> <br /> <b>Location:</b> <%= developers[i].location %> <br /> <b>Price per hour:</b> <%= developers[i].pph %> <%= developers[i].currency %> <br /> <b>Technology:</b> <%= developers[i].technology %> <br /> <b>Description:</b> <%= developers[i].description %> <br /> <b>Years of experience:</b> <%= developers[i].yoe %> <br /> <b>Native language:</b> <%= developers[i].language %> <br /> <b>Linkedin profile link:</b> <%= developers[i].linkedin %></p>
                    </div>
                    <form action="/editDev" class="mb-3 ml-3" method="post">
                        <input type="hidden" name="id" value="<%- developers[i]._id.toString() %>">
                        <input type="hidden" name="name" value="<%- developers[i].name %>">
                        <input type="hidden" name="email" value="<%= developers[i].email %>">
                        <input type="hidden" name="phone" value="<%= developers[i].phone %>">
                        <input type="hidden" name="location" value="<%= developers[i].location %>">
                        <input type="hidden" name="profilePicture" value="<%= developers[i].image %>">
                        <input type="hidden" name="pph" value="<%= developers[i].pph %>">
                        <input type="hidden" name="currency" value="<%= developers[i].currency %>">
                        <input type="hidden" name="technology" value="<%= developers[i].technology %>">
                        <input type="hidden" name="description" value="<%= developers[i].description %>">
                        <input type="hidden" name="yoe" value="<%= developers[i].yoe %>">
                        <input type="hidden" name="language" value="<%= developers[i].language %>">
                        <input type="hidden" name="linkedin" value="<%= developers[i].linkedin %>">
                        <input type="hidden" name="edit" value="true">
                        <button type="submit" name="changeButton" value="change" class="btn btn-info">Change</button>
                        <button type="submit" name="deleteButton" value="delete" class="btn btn-danger">Delete</button>
                    </form>
                    <div class="card-footer">
                    <small class="text-muted">Last updated: <%= developers[i].lastUpdated %></small>
                    </div>
                </div>
        <% }; %>
  </div>

<%- include('partials/footer') %>